.containerLoged{
	text-wrap: normal;
}

.containerLogedItem{
	color: #000000;
	font-size: 15px;
}
.containerLogedItem:hover{
	color: #ffffff;
	background-color: #3c3c3c;
	font-size: 15px;
}
/*Reglas para Perfil*/
.cuerpoPost{
	font-size: 20px;
	padding-left: 12px;
}

.fotoProfile {
	margin-bottom: 15px; 
}
/*Fin reglas para Perfil*/

/*Reglas para contacto*/
.tituloContacto, .tituloPaginaContacto, .tituloPosts{
	color: #2F4F4F;
	font-size: 27px;
	padding-top: 10px;
	padding-left: 15px;
}

.bigicon {
	font-size: 35px;
	color: #2F4F4F;
}

/*Fin reglas contacto*/

/*Reglas para Pregunta*/

#divButtonPreguntar {
	text-align: right;
	margin-top: 10px;
}

/*Fin reglas para Pregunta*/

/*Reglas para usuarios*/

.tamanhoFoto{
	margin-left: auto;
	margin-right: auto;
	width: 180px;
	height: 180px; 
}

/*Fin reglas para usuarios*/



.paginador{
	text-align: center;
}

.personicon {
	font-size: 217px;
	color:#F58723;
}

.address {
	font-size: 37px;
	text-decoration: underline;
	padding-bottom: 10px;
}

a.list-group-item {
	height: auto;
	min-height: 250px;
}

a.list-group-item:hover, a.list-group-item:focus {
	border-left:10px solid #2F4F4F;
	border-right:10px solid #2F4F4F;
}

a.list-group-item {
	border-left:10px solid transparent;
	border-right:10px solid transparent;
}


/*Reglas solo para registro*/
#registroBody{
	padding-top: 15px;
	padding-bottom: 20px;
}

.buttonEditar{
	background: #585858;
	color: #ffffff;
	font-family: 'Press Start 2P';
	font-size: 10px;
	border-radius:0;
	width: 20%;
	border-color: #585858;
	white-space:normal !important;
	word-wrap:break-word; 
}

.buttonEditar:hover, .buttonEditar:active, .buttonEditar:focus{
	background: #585858 !important;
	color: #ffffff;
	font-family: 'Press Start 2P';
	font-size: 10px;
	border-radius:0;
	width: 20%;
	border-color: #585858;
	white-space:normal !important;
	word-wrap:break-word; 
}

.buttonRegistro, .buttonEnviar{
	background: #585858;
	color: #ffffff;
	font-family: 'Press Start 2P';
	font-size: 10px;
	border-radius:0;
	width: 30%;
	border-color: #585858;
	white-space:normal !important;
	word-wrap:break-word; 
}

.buttonRegistro:hover, .buttonRegistro:active, .buttonRegistro:focus, .buttonEnviar:hover, .buttonEnviar:active, .buttonEnviar:focus{
	background: #000000 !important;
	color: #ffffff;
	font-family: 'Press Start 2P';
	font-size: 10px;
	border-radius:0;
	width: 30%;
	border-color: #000000;
}

#divButtonRegistro{
	text-align: right;
}

/*Fin reglas pa registro*/

nav#sideBar{
	margin-left: 15px;
	text-align: center;
	padding-bottom: 20px;
}

#searchBar{
	width: 98%;
	margin-left: 5px;

}

#body{
	background-color: white !important;
}

#loginButton {
	background: #000000;
	color: #ffffff !important;
	font-size: 25px;
	border-radius:0;
	height:100%;
	width:100%;
	border-color: #000000;
}

#username, #password{
	color: #000000;
	width: 100%;
	font-size: 15px;
	margin-bottom: 5px;
}

a.loginButton{
	background: #000000;
	color: #ffffff !important;
	font-family: 'Press Start 2P';
	font-size: 25px;
	border-radius:0;
	height:100%;
	width:100%;
	text-align: center;
	border-color: #000000;
}
a.loginButton:hover{
	background: #000000;
	color: #ffffff;
	font-family: 'Press Start 2P';
	font-size: 25px;
	border-radius:0;
	height:100%;
	width:100%;
	border-color: #000000;
}

.buttonStackLoginClicked{
	background: #000000;
	color: #ffffff !important;
	font-family: 'Press Start 2P';
	font-size: 10px;
	border-radius: 0;
	width:46%;
}
.buttonStackLoginClicked:hover{
	background: #000000!important;
	color: gray !important;
	font-family: 'Press Start 2P';
	font-size: 10px;
	border-radius: 0;
}

#containerLoginMobile{
	padding:0px !important;
}

#loginButtonMobile{
	background: #000000;
	color: #ffffff;
	font-family: 'Press Start 2P';
	font-size: 25px;
	width:100%;
	border-radius: 0;
	border-color:#000000;
}

#loginButtonMobile:hover{
	color: gray;
	text-decoration: none;
}

#header{
	position:relative;
	/*background-image: url(../img/headBackground.png);*/
	background-repeat: repeat;
	background-color:#157a6c;
}

#busqueda{
	border-radius: 0px;
	border-style: solid 1px;
	color:#000000;
}

a, a:hover, a:focus, a:active{
	text-decoration: none;
	color: black;
}

.buttonStack{
	background: #000000;
	color: #ffffff;
	font-family: 'Press Start 2P';
	font-size: 15px;
	border-radius:0;
	width: 25%;
}

/*Necesario para pseudoestados del boton, cuando haciamos click se ponia fondo azul raro*/
.preguntaButton:active, .preguntaButton:focus {
	background-color: #585858 !important;
}

.dropdownMenu {
	font-family: 'Press Start 2P';
	text-align: center;
}

#menuContainerMobile .dropdown {
	float:none;

}
.finalPagina {
	padding-top:1.5%;
	background-color:#2F4F4F;
	border-radius: 0px 25px 25px 50px;
	-moz-border-radius: 0px 25px 25px 50px;
	-webkit-border-radius: 0px 25px 25px 50px;
}

.company {
	margin-top:2%;
	text-align:right;
	font-family: 'Press Start 2P';
	font-size: 10px;
}

.preguntaButton:hover{
	color: black;
	background:#585858;
}

.loginContainer{
	position:absolute;
	padding-right: 0; 
	right:0%; 
	bottom:0%;
}

.pregunta {
	margin-top: 20px;

}

.elemPregunta {
	margin-left: 5px;
	margin-right: 5px;
}

.compSideBar{
	font-family:'Press Start 2P';
}

.modal-title{
	margin-top: 5px;
	font-family:'Press Start 2P';
	text-align: center;
}

.modalCloseButton{
	margin-top: -10px;
}

.verticalSeparator {
	border-left: 1px solid black;
	height: 25px;
}

.fire {
	margin-left: 15px;
}

.botonera {
	text-align: center;
}

.botonera-xs {
	text-align: right;
}

.form-control::-webkit-input-placeholder {
	font-family: 'Press Start 2P';
	color: black;
}

.form-control::-moz-placeholder { /* Firefox 18- */
	font-family: 'Press Start 2P';
	color: black;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
	font-family: 'Press Start 2P';
	color: black;  
}

.form-control::-ms-input-placeholder {  
	font-family: 'Press Start 2P';
	color: black;  
}

.tags{
	text-align: right;
	margin-bottom: 2%; 
}
span.tag {
	text-align: right;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #D8D8D8;
	background-color: #CEF6F5;
	-webkit-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
}



hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #EEEEEE -moz-use-text-color #FFFFFF;
	border-style: solid none;
	border-width: 1px 0;
	margin: 18px 0;
}

.divBotonesLogin {
	text-align: right;
	margin-top: 5px;
}

.whiteBackgroundIndex{
	background-color: white;
	-webkit-box-shadow: 1px 1px 22px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 22px 1px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 22px 1px rgba(0,0,0,0.75);
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	border-radius: 5px;
}

/* CSS para query */

.cuerpoPregunta{
	margin-top: 20px;
	position: relative;
}

.usuarioPregunta{
	font-size: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: right;
	padding-left: 0px;
	position: absolute;
	bottom: 0%;
}

.tituloPregunta{
	font-size: 20px;

}

.whiteBackground{
	background-color: white;
	-webkit-box-shadow: 1px 1px 22px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 22px 1px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 22px 1px rgba(0,0,0,0.75);
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.whiteBackgroundPost{
	background-color: white;
	-webkit-box-shadow: 1px 1px 22px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 22px 1px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 22px 1px rgba(0,0,0,0.75);
	padding-left: 5px;
	padding-right: 5px;
	margin: 20px;
	border-radius: 5px;
}

.usuarioRespuesta{
	text-align: right;
	margin-bottom: 20px;
	margin-top: 10px;
}

.textBox {
	margin-top: 15px;
	text-align: center;
}

textarea {
	width:100%;
}

.tituloRespuesta {
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.sizePhotoAnswer {

	width: 100px;
	height: 100px; 
}

/* Fin Css para query */


/*Mobile*/
@media (min-width: 1px) {

	.buttonStack{
		background: #000000;
		color: #ffffff;
		font-family: 'Press Start 2P';
		font-size: 10px;
		border-radius:0;
		width: 25%;
	}

	#loginContainer {
		display: none;
	}

	#sideBar{
		display:none;
	}

	.listaMenu{
		width: 100%;
		text-align: center;
		padding-left: 20px;
	}

	#searchBar, #sideBar {
		margin-top: 10px;
	}

	.preguntaContainer{
		margin-top: 3%;
		margin-left: 70%; /*MEJOR FORMA PA HACERLO!???*/
		margin-bottom: 3%;
	}

	.elemFooter {
		margin-left: 10px;
		margin-right: 5px;
		font-family: 'Press Start 2P';
		font-size:10px;
		color: white !important;
	}

	.elemFooter>a{
		color: white;
	}

	.linksFooter {
		text-align: center;
	}

	.finalPagina {
		padding-top:1.5%;
		background-color:#2F4F4F;
		border-radius: 0px 0px 25px 25px;
		-moz-border-radius: 0px 0px 25px 25px;
		-webkit-border-radius: 0px 0px 25px 25px;
	}
	.preguntaButton {
		background: #585858;
		color: #ffffff;
		font-family: 'Press Start 2P';
		border-radius:0;
		font-size: 10px;
		width:100%;
		height: 100%;
		border-color:#585858;
		white-space:normal !important;
		word-wrap:break-word; 
	}

}

@media (min-width: 768px) {
	.buttonStack{
		background: #000000;
		color: #ffffff;
		font-family: 'Press Start 2P';
		font-size: 15px;
		border-radius:0;
		width: 25%;
	}


	#loginContainer {
		display: none;
	}

	#sideBar{
		display:none;
	}

	.listaMenu{
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}

	#searchBar, #sideBar {
		margin-top: 10px;
	}

	.preguntaContainer{
		margin-top: 3%;
		margin-left: 76.5%; /*MEJOR FORMA PA HACERLO!???*/
		margin-bottom: 3%;
	}

	.elemFooter {
		margin-left: 10px;
		margin-right: 5px;
		font-family: 'Press Start 2P';
		font-size: 15px;
	}

	.linksFooter {
		text-align: center;
	}

	.finalPagina {
		padding-top:1.5%;
		background-color:#2F4F4F;
		border-radius: 0px 0px 25px 25px;
		-moz-border-radius: 0px 0px 25px 25px;
		-webkit-border-radius: 0px 0px 25px 25px;
	}

	.preguntaButton {
		background: #585858;
		color: #ffffff;
		font-family: 'Press Start 2P';
		border-radius:0;
		font-size: 13px;
		width:100%;
		height: 100%;
		border-color:#585858;
	}

	.buttonRegistro{
		background: #585858;
		color: #ffffff;
		font-family: 'Press Start 2P';
		font-size: 15px;
		border-radius:0;
		width: 30%;
		border-color: #585858;
	}

	.buttonRegistro:hover{
		background: #000000;
		color: #ffffff;
		font-family: 'Press Start 2P';
		font-size: 15px;
		border-radius:0;
		width: 30%;
		border-color: #000000;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) { 
	/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa*/
	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav > li > a:hover, .nav > li > a:focus{
		background-color: #000000 !important;/*isimoo*/
		color: white;
	}
	#loginButtonMobile{
		display: none;
	}

	.menuVisible {
		display:none;
	}

	#searchBar{
		margin-top: 25px;
	}

	#sideBar, .affix, .affix-bottom {
		background-color: white;
		padding-top: 25px;
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;	
		-webkit-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
		width: 225px;
	}

	.affix {
		width:225px;
		padding:10px;	
	}	

	.preguntaContainer{
		margin-top: 3%;
		margin-left: 75%; /*MEJOR FORMA PA HACERLO!???*/
		margin-bottom: 3%;
	}

	.elemFooter {
		margin-left: 10px;
		margin-right: 5px;
		font-family: 'Press Start 2P';
		font-size: 15px;
	}

	.linksFooter {
		text-align: left;
	}

	.finalPagina {
		padding-top:1.5%;
		background-color:#2F4F4F;
		border-radius: 0px 25px 25px 50px;
		-moz-border-radius: 0px 25px 25px 50px;
		-webkit-border-radius: 0px 25px 25px 50px;
	}

	.preguntaButton {
		background: #585858;
		color: #ffffff;
		font-family: 'Press Start 2P';
		border-radius:0;
		font-size: 13px;
		width:100%;
		height: 100%;
		border-color:#585858;
	}

	.buttonRegistro{
		background: #585858;
		color: #ffffff;
		font-family: 'Press Start 2P';
		font-size: 15px;
		border-radius:0;
		width: 30%;
		border-color: #585858;
	}

	.buttonRegistro:hover{
		background: #000000;
		color: #ffffff;
		font-family: 'Press Start 2P';
		font-size: 15px;
		border-radius:0;
		width: 30%;
		border-color: #000000;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa*/
	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav > li > a:hover, .nav > li > a:focus{
		background-color: #000000 !important;/*isimoo*/
		color: white;
	}
	#loginButtonMobile{
		display: none;
	}

	.menuVisible {
		display:none;
	}

	#searchBar{
		margin-top: 25px;
	}

	#sideBar, .affix, .affix-bottom{
		background-color: white;
		padding-top: 25px;
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		-webkit-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
		width: 270px;
	}

	.affix {
		width:270px;
	}

	.preguntaContainer{
		margin-top: 3%;
		margin-left: 75%; /*MEJOR FORMA PA HACERLO!???*/
		margin-bottom: 3%;
	}

	.elemFooter {
		margin-left: 5%;
		margin-right: 5%;
		font-family: 'Press Start 2P';
		font-size: 15px;
	}

	.linksFooter {
		text-align: left;
	}

	.finalPagina {
		padding-top:1.5%;
		background-color:#2F4F4F;
		border-radius: 0px 25px 25px 50px;
		-moz-border-radius: 0px 25px 25px 50px;
		-webkit-border-radius: 0px 25px 25px 50px;
	}

	.preguntaButton {
		background: #585858;
		color: #ffffff;
		font-family: 'Press Start 2P';
		border-radius:0;
		font-size: 13px;
		width:100%;
		height: 100%;
		border-color:#585858;
	}

	.buttonRegistro{
		background: #585858;
		color: #ffffff;
		font-family: 'Press Start 2P';
		font-size: 15px;
		border-radius:0;
		width: 30%;
		border-color: #585858;
	}

	.buttonRegistro:hover{
		background: #000000;
		color: #ffffff;
		font-family: 'Press Start 2P';
		font-size: 15px;
		border-radius:0;
		width: 30%;
		border-color: #000000;
	}

}